/* responsiveDesktop */

@media (max-width: 1280px){
  /* Container#1 */

  .containerContent,
  .containerContentSecond{
    padding: 0 36px;
  }

  .containerTitle{
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }

  .containerBoxInfoSize{
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .containerTitle .fontTitle{
    margin-right: 0px;
  }

  .fontTitle{
    font-size: 36px;
  }

  .textBehind{
    font-size: 12vw;
  }

  .fontInfo{
    font-size: 6vw;
  }

  .fontInfoAlt{
    font-size: 5vw;
  }

  .background-purple{
    height: 328px;
    margin-top: -328px;
  }

  .boxPurpleInfo{
    margin: 36px 0 16px 0;
  }
  
  .boxPurpleInfo .BoxInfo{
    margin-bottom: 20px;
  }
}

@media (max-width: 980px){
  .mainImage img{
    width: 100%;
  }
  .containerContent,
  .containerContentSecond{
    padding: 0 24px;
  }
  .phoneBackBox{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .fontInfoAlt{
    font-size: 5vw;
  }

  .phoneImgStyle{
    width: 90%;
    height: auto;
  }

  .boxPurpleInfo{
    margin: 16px 0 16px 0;
  }

  .boxPurpleInfo .BoxInfo .fontInfo{
    margin-bottom: 0px;
    font-size: 5vw;
  }
}

@media only screen and (max-width: 767px){
  .containerBegin,
  .finalPhoneContainer{
    height: 900px;
  }

  .containerContentSecond .textBehind{
    margin-bottom: -120px;    
  }
  .alignInfoPhone{
    padding-top: 32px;
  }

  .headerPhone{
    margin: 36px 0 64px 0;
  }

  .headerPhone h1{
    font-size: 20px;
    font-weight: normal;
  }

  .containerContent,
  .containerContentSecond{
    height: 100%;
  }


  .containerInfo{
    flex-direction: column-reverse;
  }

  .containerBoxInfoSize{
    margin-left: 0px
  }

  .infoSecurity{
    margin-bottom: 36px 0 24px 0;
  }

  .infoSecurity div{
    margin-bottom: 12px;
  }

  .containerTitle{
    margin: 24px 0px;
  }

  .BoxInfo{
    margin-bottom: 24px;
  }

  .fontInfo,
  .fontInfoAlt{
    font-size: 10vw;
  }

  .fontIcon{
    font-size: 4vw;
  }

  .BoxIcon{
    margin-right: 12px;
  }

  .phoneImgStyle{
    width: 100%;
  }

  .containerSecondDetail{
    flex-direction: column;
  }

  .containerSecondTitle{
    margin-top: 42px;
  }

  .phoneBackBox .phoneBackHidenMobile{
    display: none;
  }

  .alignInfoPhone .phoneBackHidden{
    display: block;
  }

  .background-purple{
    position: relative;
    margin: 0px;
    height: 220px;
    margin-top: -276px;
  }

  @media only screen and (max-width: 542px){
    .containerBegin,
  .finalPhoneContainer{
    height: 650px;
  }
  }
}